<% if notice.present? %>
	<p class="alert alert-info"><%= notice %></p>
<% end %>

<%= render 'order', order: @order %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>